<div class="container-fluid">
  <div class="row">
    <div class="navbar navbar-default" id="bs-example-navbar-collapse-1">
      <div class="container">
        <ul class="nav navbar-nav pull-left">
          <li class="text-left"><a href="/" class="nav_list">홈</a><li>
					<li><a href="/study" class="nav_list">학문</a></li>
          <li><a href="/hobby" class="nav_list">취미</a></li>
          <li><a href="/venture" class="nav_list">벤쳐</a></li>
          <li><a href="/shopping" class="nav_list">쇼핑</a></li>
					<li><a href="/life" class="nav_list">생활</a></li>
          <li><a href="/foods/write" class="nav_list">게시물 추가</a></li>
        </ul>
        <% if session[:user_id].nil? %>
        <ul class="nav navbar-nav pull-right">
          <li ><a href="/users/login" class="nav_list">로그인</a></li>
          <li><a href="/users/signup" class="nav_list">회원가입</a></li>
        </ul>
        <% else %>
        <ul class="nav navbar-nav pull-right">
          <li class=""><a href="/users/logout_complete" class="nav_list">로그아웃</a></li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
